@media screen and (min-width: 1150px) {
  .scroll-menu {
    display: none;
  }
  .hd-bot-cnt .left a:last-of-type {
    display: none;
  }
  .menu-mobile {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .hd-top .hd-top-cnt .it:nth-of-type(3), .hd-top .hd-top-cnt .it:nth-of-type(4), .hd-top .hd-top-cnt .it:nth-of-type(5) {
    display: none;
  }
  .scroll-menu {
    display: block;
  }
  .scroll-menu .bg-black {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    z-index: 828;
  }
  .scroll-menu .bg-black.active {
    opacity: 1;
    visibility: visible;
  }
  .scroll-menu .touch-menu {
    display: block;
    height: 32px;
    width: 32px;
    position: relative;
  }
  .scroll-menu .touch-menu span {
    height: 2px;
    width: 28px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
  }
  .scroll-menu .touch-menu span::before {
    content: "";
    display: block;
    height: 2px;
    width: 28px;
    background: #fff;
    position: absolute;
    top: -8px;
  }
  .scroll-menu .touch-menu span::after {
    content: "";
    display: block;
    height: 2px;
    width: 28px;
    background: #fff;
    position: absolute;
    bottom: -8px;
  }
  header .hd-bottom {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 200px;
    z-index: 868;
  }
  header .hd-bottom .left {
    flex-direction: column;
    align-items: flex-start;
  }
  header .hd-bottom .left a {
    margin-bottom: 10px;
  }
  header .hd-bottom .left a:first-of-type {
    border-right: none;
    position: relative;
  }
  header .hd-bottom .left a:last-of-type {
    border-top: 1px solid #f5f5f5;
    display: block;
  }
  header .hd-bottom .right {
    display: none;
  }
  header .hd-bottom.active {
    visibility: visible;
    opacity: 1;
  }
  .hd-bot-cnt .left .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background: #fff;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
  }
  .menu-mobile li {
    list-style-type: none;
    padding: 10px 0;
  }
  .menu-mobile li a {
    list-style-type: none;
    line-height: 1.5;
    color: #333;
    font-family: muli-regular;
    font-size: 16px;
  }
  .menu-mobile.active {
    opacity: 1;
    visibility: visible;
  }
  .cate-product-cnt .banner-sale .img {
    height: 366.19px !important;
  }
  .cate-product-cnt .info-cate {
    padding: 0;
    justify-content: space-around;
  }
}
@media screen and (max-width: 991px) {
  .offer .offer-cnt .product {
    width: calc((100% - 60px) / 4);
  }
  .cate-product-cnt .product {
    height: 366.19px;
  }
  .ft-bot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .ft-bot .info-com {
    grid-row: 1/3;
    grid-column: 1/2;
    justify-content: space-around;
  }
  .add_cart {
    width: 150px;
    height: 35px;
  }
}
@media screen and (max-width: 767px) {
  header .hd-top .hd-top-cnt .it:nth-of-type(2) {
    width: 50%;
  }
  .home-banner .banner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .home-banner .banner .it {
    width: calc((100% - 10px) / 2);
  }
  .home-banner .banner .it.fr {
    width: 100%;
  }
  .home-banner .banner .it.fr .owl-dots {
    bottom: 20px;
  }
  .categories .category-cnt .owl-nav {
    top: 0;
    right: 0;
  }
  .pro-new h2:nth-of-type(2) {
    display: none;
  }
  .pro-new .pro-cnt {
    flex-wrap: wrap;
  }
  .pro-new .pro-cnt .new {
    width: 100%;
  }
  .pro-new .pro-cnt .feature {
    width: 100%;
  }
  .cate-product-cnt {
    display: flex;
    flex-wrap: wrap;
  }
  .cate-product-cnt .banner-sale {
    width: 100%;
  }
  .cate-product-cnt .info-pro {
    width: 100%;
  }
  .cate-product-cnt .lst-cate {
    width: 100%;
  }
  .cate-product-cnt .info-cate {
    width: 100%;
  }
  .cate-product-cnt ._see-all {
    width: 100%;
    height: 30px;
  }
  .offer .offer-cnt {
    height: 670px;
    overflow: hidden;
  }
  .offer .offer-cnt .product {
    width: calc((100% - 20px) / 2);
  }
  .offer .offer-cnt.active {
    height: auto;
    overflow: visible;
  }
  .advise-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .advise-flex ._advise {
    width: 100%;
  }
  .advise-flex ._advise ._advise-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .advise-flex ._advise ._advise-grid .it {
    width: calc((100% - 10px) / 2);
  }
  .advise-flex ._advise ._advise-grid .it.frame {
    width: 100%;
  }
  .advise-flex .tips {
    width: 100%;
  }
  footer .ft-top .ft-flex {
    display: none;
  }
  .ft-top-mobile {
    display: block;
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
  .ft-top-mobile ul, .ft-top-mobile li {
    list-style-type: none;
    padding: 0;
  }
  .ft-top-mobile p {
    font-family: muli-bold;
  }
  .pro-new .title h2 {
    width: 100%;
  }
  .brands h2,
.pro-selling h2,
.offer h2 {
    width: 100%;
  }
  .brands .brand-cnt .owl-nav .owl-next {
    right: 0;
  }
}

/*# sourceMappingURL=responsisve.css.map */
